body {
    background-color: #c5eaf3;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .box {
    width: 180px;
    border-radius: 10%;
    padding-bottom: 25%;
    float: left;
    margin: 1.5%;
    }
    .box1{
      background-color: #E52121;
    }
    .box2{
      background-color: #FF8C00;
    }
    .box3{
      background-color: #2AE27F;
    }
    .box4{
      background-color: #940C6E;
    }
    .box5{
      background-color: #0000CD;
    }
    .box6{
      background-color: #00FFFF;
    }

    h1 {
        color: black;
        text-align: center;
        line-height: 1.1;
	    padding: 20px 0;
    } 
    
    h3 {
        color: black;
        text-align: center;
        line-height: 1.1;
	    
    }
  
  
  #container {
    max-width: 600px;
	margin: 20px auto;
    padding-top: 1%;
    
  }
  