.yellow-box{
    background-color:yellow;
    height:100px;
    width:100px;
}
.green-box{
    background-color:green;
    height:100px;
    width:100px;
}
.red-box{
    background-color:red;
    height:100px;
    width:100px;
}
.blue-box{
    background-color:blue;
    height:100px;
    width:100px;
}